<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title>Search List</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
	th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<script
	src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
<script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../../resources/metisMenu/dist/metisMenu.min.js"
	th:src="@{/resources/metisMenu/dist/metisMenu.min.js}"></script>
<link rel="stylesheet" type="text/css" media="screen"
	href="../../css/common.css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="../../resources/metisMenu/dist/metisMenu.css"
	th:href="@{/resources/metisMenu/dist/metisMenu.min.css}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="../../resources/font-awesome/css/font-awesome.min.css"
	th:href="@{/resources/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="../../css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" />
</head>

<body>
	<div id="page-wrapper" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header">Dashboard  </h3>
					total : <th th:text="${totalCnt}"></th>

					<div id="mainHide">
					<div class="text-center">
							<span><a th:href="@{/search(keyword=${keyword}, currentPage=1)}">처음</a></span>
    
						    <!-- 현재 페이지가 1보다 클 경우 이전 href, 1보다 작은 경우 이전 text -->
						    <span th:if="${currentPage > 1}"><a th:href="@{/search(keyword=${keyword}, currentPage=${currentPage}-1)}">이전</a></span>
						    <span th:unless="${currentPage > 1}" th:text="이전"></span>
						    
						    <!-- #number.sequence 인수로 지정한 2개의 수 범위에서 배열을 생성 -->
						    <th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
						        <span th:if="${currentPage == num}" th:text="${'['+ num + ']'}"></span>
						        <a th:unless="${currentPage == num}" th:text="${'['+ num + ']'}" th:href="@{/search(keyword=${keyword}, currentPage=${num})}"></a>
						    </th:block>
						    
						    <!-- 현재 페이지가 마지막페이지와 같지 않을 경우 다음 href, 같을 경우 다음 text -->
						    <span th:if="${currentPage != lastPage}"><a th:href="@{/search(keyword=${keyword}, currentPage=${currentPage}+1)}">다음</a></span>
						    <span th:unless="${currentPage != lastPage}" th:text="다음"></span>
						    <span><a th:href="@{/search(keyword=${keyword}, currentPage=${lastPage})}">마지막</a></span>
						</div>
						<table class="table table-hover">
							<thead>
								
								<tr>
									<th th:style="'width: 6.5%;'">도서</th>
									<th class="col-md-3">도서제목</th>
									<th class="col-md-1">출판사</th>
                                    <th class="col-md-1">가격(원)</th>
                                    <th class="col-md-5">내용</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="book : ${bookList}">
								    <th:block th:if="${searchFrom} == 'kakao'">
									  <td th:if="${#strings.isEmpty(book.thumbnail)}" th:style="'background-image:url(images/no_image.png); height: 155px;'"></td>
									  <td th:unless="${#strings.isEmpty(book.thumbnail)}" th:style="'background-image:url(' + ${book.thumbnail} + '); height: 155px;'"></td>
									</th:block>
									<th:block th:unless="${searchFrom} == 'kakao'"> 
	     							  <td th:if="${#strings.isEmpty(book.image)}" th:style="'background-image:url(images/no_image.png); height: 155px;'"></td>
									  <td th:unless="${#strings.isEmpty(book.image)}" th:style="'background-image:url(' + ${book.image} + '); height: 155px;'"></td>
									</th:block>
									<td th:text="${book.title}"></td>
									<td th:text="${book.publisher}"></td>
									<td th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')}"></td>
									<th:block th:if="${searchFrom} == 'kakao'">
									  <td th:text="${#strings.abbreviate(book.contents,250)}"></td>
									</th:block>
									<th:block th:unless="${searchFrom} == 'kakao'">
									  <td th:text="${#strings.abbreviate(book.description,250)}"></td>
									</th:block>
								</tr>
							</tbody>
						</table>
						<div class="text-center">
							<span><a th:href="@{/search(keyword=${keyword}, currentPage=1)}">처음</a></span>
    
						    <!-- 현재 페이지가 1보다 클 경우 이전 href, 1보다 작은 경우 이전 text -->
						    <span th:if="${currentPage > 1}"><a th:href="@{/search(keyword=${keyword}, currentPage=${currentPage}-1)}">이전</a></span>
						    <span th:unless="${currentPage > 1}" th:text="이전"></span>
						    
						    <!-- #number.sequence 인수로 지정한 2개의 수 범위에서 배열을 생성 -->
						    <th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
						        <span th:if="${currentPage == num}" th:text="${'['+ num + ']'}"></span>
						        <a th:unless="${currentPage == num}" th:text="${'['+ num + ']'}" th:href="@{/search(keyword=${keyword}, currentPage=${num})}"></a>
						    </th:block>
						    
						    <!-- 현재 페이지가 마지막페이지와 같지 않을 경우 다음 href, 같을 경우 다음 text -->
						    <span th:if="${currentPage != lastPage}"><a th:href="@{/search(keyword=${keyword}, currentPage=${currentPage}+1)}">다음</a></span>
						    <span th:unless="${currentPage != lastPage}" th:text="다음"></span>
						    <span><a th:href="@{/search(keyword=${keyword}, currentPage=${lastPage})}">마지막</a></span>
						</div>

					</div>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
	</div>
</body>

</html>